/* .and-between-name {
  position: absolute;
  top: 50px;
  left: 145px;
} */
.and-between-name {
  position: relative;
  right: 5px;
}
/* .male-name {
  padding-bottom: 30px;

  text-align: start;
} */
.male-name {
}

/* .female-name {
  text-align: end;
} */
.female-name {
}

.our-name {
  /* position: relative;
  left: 20px;
  width: 345px;
  height: 150px; */
  /* width: 150px;
  height: 200px; */
  display: flex;
  flex-direction: row !important;
  gap: 15px;
  text-align: center;
}

@font-face {
  font-family: "Italianno";
  src: url("../../Fonts/Italianno/Italianno-Regular.ttf") format("truetype");
  font-weight: 800;
}

.our-name {
  font-family: "Italianno", fallback, sans-serif;
  font-weight: 800;
  font-size: 65px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* @media (min-width: 300px) and (max-width: 800px) {
  .and-between-name {
    top: 55px;
    left: 135px;
  }
} */
