@font-face {
  font-family: "Italianno";
  src: url("../../Fonts/Italianno/Italianno-Regular.ttf") format("truetype");
  font-weight: 800;
}
@font-face {
  font-family: "Mark-Script";
  src: url("../../Fonts/Marck_Script/MarckScript-Regular.ttf")
    format("truetype");
  font-weight: 800;
}

.main-guest-component {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 260px;

  align-items: center;
  text-align: center;
  color: black;
}

.title {
  /* padding: 20px 0px; */
  font-size: 34px;
  font-family: "Mark-Script", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.footer-title-guest {
  /* padding: 20px 0px; */
  font-weight: 600;
  padding-bottom: 30px;
}

.image-calendar img {
  width: 230px;
}

.heart-icon img {
  width: 40px;
}

.heart-icon {
  position: absolute;

  top: 95.7%;
  right: 15.5%;
}
