.main-app {
  background-image: url("./assets/Fotoram.io.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;

  background-color: rgba(255, 255, 255, 0.892);
  height: 4000px;
}

.timer {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.name-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gues-component {
  position: absolute;
  top: 1200px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plan-component {
  position: absolute;
  top: 1700px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-component {
  position: absolute;

  width: auto;

  top: 3000px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
}

.plume-bk-image img {
  width: 200px;
}

.plume-bk-image {
  position: absolute;
  top: -100px;
  left: 50%;
  width: 20px;
  height: 200px;
  z-index: 1;
  transform: translateX(-50%);
  animation: fallingPen 10s ease-in-out infinite;
}

@keyframes fallingPen {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(70%);
  }
  100% {
    transform: translateY(130%);
  }
}
