.main-app {
  background-image: url("./assets/Fotoram.io.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;

  background-color: rgba(255, 255, 255, 0.892);
  height: 4000px;
}

.timer {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.name-title {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gues-component {
  position: absolute;
  top: 1200px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plan-component {
  position: absolute;
  top: 1700px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map-component {
  position: absolute;

  width: auto;

  top: 3000px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 40px;
}

.plume-bk-image #plume-1 {
  width: 180px;
  height: 200px;
  position: absolute;
  top: -23vh;
  left: 75%;
  z-index: -1;
  animation: animationPlume-1 200s linear 2s infinite;
  transition-duration: 10s;
}
.plume-bk-image #plume-2 {
  width: 180px;
  height: 200px;
  position: absolute;
  position: absolute;
  top: -23vh;
  left: 0%;
  z-index: -1;

  animation: animationPlume-2 200s linear 20s infinite;
}

@media (max-width: 550px) {
  .plume-bk-image #plume-1,
  .plume-bk-image #plume-2 {
    width: 80px;
    height: 100px;
  }
}

.plume-bk-image {
  position: relative;

  width: 100vw;
  height: 100%;
}

@keyframes animationPlume-2 {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  15% {
    transform: translateY(50vh) translateX(100vw) rotate(-40deg);
  }
  30% {
    transform: translateY(100vh) translateX(-20vw) rotate(40deg);
  }
  45% {
    transform: translateY(150vh) translateX(100vw) rotate(-40deg);
  }
  50% {
    transform: translateY(200vh) translateX(-20vw) rotate(40deg);
  }
  65% {
    transform: translateY(250vh) translateX(100vw) rotate(-40deg);
  }
  80% {
    transform: translateY(300vh) translateX(-20vw) rotate(40deg);
  }
  100% {
    transform: translateY(400vh) translateX(100vw) rotate(-40deg);
  }
}
@keyframes animationPlume-1 {
  0% {
    /* transition-duration: 10s; */
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  15% {
    transform: translateY(50vh) translateX(-100vw) rotate(40deg);
  }
  30% {
    transform: translateY(100vh) translateX(25vw) rotate(-40deg);
  }
  45% {
    transform: translateY(150vh) translateX(-100vw) rotate(40deg);
  }
  50% {
    transform: translateY(200vh) translateX(25vw) rotate(-40deg);
  }
  65% {
    transform: translateY(250vh) translateX(-100vw) rotate(40deg);
  }
  80% {
    transform: translateY(300vh) translateX(25vw) rotate(-40deg);
  }
  100% {
    transform: translateY(400vh) translateX(-100vw) rotate(40deg);
  }
}

@media (orientation: landscape) {
  body {
    transform: rotate(0deg);
    transform-origin: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.icon-arrow {
  position: absolute;
  top: 90vh;
  left: 48.7vw;
  z-index: 100;
}

.icon-with-shadow {
  display: inline-block; /* Ikona má být zobrazena jako blokový prvek */
  font-size: 70px; /* Velikost ikony - můžete upravit dle potřeby */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Vytvoření stínu */
  font-weight: 100px;
}

@media (max-width: 550px) {
  .icon-with-shadow {
    display: inline-block; /* Ikona má být zobrazena jako blokový prvek */
    font-size: 40px; /* Velikost ikony - můžete upravit dle potřeby */
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* Vytvoření stínu */
  }
  .icon-arrow {
    position: absolute;
    top: 83vh;
    left: 46.7vw;
  }
}
